@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  li{
    @apply p-4
  }
  button {
    @apply text-white border bg-indigo-500 border-indigo-500 px-5
    hover:bg-indigo-800 rounded-md
  }
}